@CHARSET "UTF-8";

#myPage_header{
	margin:auto;
	width:100%;
	height:45px;
	
	background-color:#474747;
	border-top:1px solid #353535;
	border-bottom:1px solid #353535;
	/*
	background: linear-gradient(to bottom, #474747, #595959, #474747);
	*/
}
#myPage_header_titleImg{
	float:left;
	width:25px;
	height:25px;
	margin-top:9px;
	margin-left:15px;
}
#myPage_header_title{
	float:left;
	width:100px;
	line-height:43px;
	margin-left:7px;
	list-style-type:none;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	text-shadow: 2px 2px #5D5D5D;
	
	/*
	border-right:1px solid #353535;
	-webkit-box-shadow: 1px 0px 0px #747474;
	box-shadow: 1px 0px 0px #747474;
	*/
}
#myPage_con{
	margin:auto;
	width:100%;
	overflow:hidden;
}
@media all and (min-width:0px) and (max-width:767px){
	#myPage_con_left{
		float:left;
		width:100%;
		min-height:50px;
		background-color:#f4f4f4;
		border-right:1px solid #ededed;
	}
	#myPage_con_right{
		float:left;
		border:1px solid #000;
		width:100%;
		height:500px;
	}
	#myPage_con_left_menu1,#myPage_con_left_menu2
	,#myPage_con_left_menu3{
		display:inline-block;
		text-align:center;
	}
}
@media all and (min-width:768px){
	#myPage_con_left{
		float:left;
		width:20%;
		height:500px;
		background-color:#f4f4f4;
		border-right:1px solid #ededed;
	}
	#myPage_con_right{
		float:left;
		border:1px solid #000;
		width:80%;
		height:500px;
	}
	#myPage_con_left_menu1{
		margin-top:40px;
	}
	#myPage_con_left_menu1,#myPage_con_left_menu2
	,#myPage_con_left_menu3{
		display:block;
		margin-left:20px;
	}
}
#myPage_con_left_menu1,#myPage_con_left_menu2
,#myPage_con_left_menu3{
	width:100px;
	line-height:45px;
	list-style-type:none;
	font-size:13px;
	color:#747474;
	cursor:pointer;
	letter-spacing:-2px;
}

#myPage_con_left_menu1:hover,#myPage_con_left_menu2:hover
,#myPage_con_left_menu3:hover{
	color:#9D3636;
	font-weight:bold;
	text-decoration:underline;
}